body{
    overflow-x:hidden;

}
.footer{
   /* position:fixed;*/
    bottom:0;
    width:100%;
    height:auto;
    line-height:60px;
    background-color:#f5f5f5;
}
.footer > .container{
    padding-right:15px;
    padding-left:15px;
}
#write-review{
    margin-left:-50px;
}
#write-review a{
    text-decoration:none;
}

#product-price{
    font-size:28px;
    color:red;
}

.card-title a{
    text-decoration:none
}

.active a{color:white;}
